<a href="https://colab.research.google.com/github/ACE6233/Python-Workbook-for-Undergrad/blob/main/Python%20Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Programming Workbook

Codes from the lecture slides

**Container data types**

**List**  
Remember: Square brackets [ ]

In [ ]:
alist = [57, 4.6, 'Hello', -7.5, 'world']
alist

In [ ]:
type(alist)

**Dictionary**  
Remember: Curly brackets { }

In [ ]:
adict = {'name': 'Tan', 'age':45}
adict

In [ ]:
type(adict)

Show the dictionary keys

In [ ]:
adict.keys()

Show the dictionary values

In [ ]:
adict.values()

Show the value of a key

In [ ]:
adict['name']

In [ ]:
adict['age']

**String formating**

1. Format method

In [ ]:
a, b, c = 6, 'apples', 1.5
print('{} {} cost ${:.2f}'.format(a, b, c))

2. f-string method

In [ ]:
print(f'{a} {b} cost ${c:.2f}')

Loops

In [ ]:
a = range(5)
a[0]

In [ ]:
a[4]

In [ ]:
a[5]

**FOR** loop

In [ ]:
for i in range(5):
  print(i)

In [ ]:
for i in range(1, 11):
  print(i)

In [ ]:
for i in range(2, 10, 2):
  print(i)

**List comprehension**

Generate a list based on a range of numbers or another list

In [ ]:
names = ['ali', 'bala', 'chan', 'david']
cap_names = [n.capitalize() for n in names]
print(cap_names)

Packages & Modules

In [ ]:
print(sin(pi/2))

What should you do?

In [ ]:
# Hint: import math

**NumPy**

NumPy is a very powerful package that deals with numbers. With NumPy, Python becomes as powerful as MATLAB.

In [ ]:
import numpy as np
# Create a NumPy array from a Python list
array = np.array([1, 2, 3])
print(array)

In [ ]:
type(array)

Create a 5-integer array filled with zeros

In [ ]:
# Hint: np.zeros(5,

Create a 3-by-2 floating-point array filled with 1s

In [ ]:
# Hint: np.ones((3, 2),

How to transpose the matrix?

In [ ]:
# Hint: np.transpose()

Create a 2-by-3 array filled with 3.14

In [ ]:
# Hint: np.full((2, 3),

Create an array filled with linear sequence starting from 0, ending at 3, stepping by 0.5

In [ ]:
# Hint: np.arange()

Create an array of 5 values evenly spaced from 0 to 1

In [ ]:
# Hint: np.linspace()

Create a 3-by-3 array of uniformly distributed random values between 0 and 1

In [ ]:
# Hint: np.random

NumPy array **attributes**, **indexing** and **slicing**

Create a 2-by-3 array of random integers in interval [0, 10)

In [ ]:
# Hint: np.random.randint()

How many elements are there?

What's the shape of the array?

How many dimensions the array consists of?

Print out all the elements at row 0, column 1

In [ ]:
print(x[0, 1])   # element at row 0, column 1

Print out all the elements at row 1 and last column

Print out all the elements at row 1

Print out all the elements at the last column

Print out all the elements at row 0-1, column 1-2

**Reshaping Arrays**

Create a 10-integer array from 0 to 9

In [ ]:
y =

Reshape it to a 2-by-5 array

In [ ]:
print(y.reshape(2, 5))

Reshape to an array with 5 rows

NumPy array **joining** and **splitting**

In [ ]:
z = np.arange(0, 6).reshape(2, 3)
print(z)

Stack 2 arrays vertically

In [ ]:
aa = np.vstack([z, z])
print(aa)

Stack 2 arrays horizontally

Split an array vertically

In [ ]:
upper, lower = np.vsplit(z, [1])
print(f'Upper part is {upper}, lower part is {lower}')

Split an array horizontally

## pandas - Python Data Analysis Library
With pandas, Python becomes as powerful as MS Excel.

**pandas Series**  
Create a pandas series from a list or array

Import the pandas package

In [ ]:
import pandas as pd

In [ ]:
step_data = [3620, 7891, 9761, 3907, 4338, 5373]
step_counts = pd.Series(step_data, name = 'steps')
print(step_counts)

In [ ]:
type(step_counts)

Add a date range to the Series

In [ ]:
step_counts.index = pd.date_range('20150329', periods = 6)
print(step_counts)

Can treat the index & data in the Series like the key-value pair in Dictionary

For example, index the data on 2015-04-01

Or can index the data based on position by treating the data being stored in an array.

Show all the data

In [ ]:
print(step_counts.values)

Show all indices

In [ ]:
print(step_counts.index)

Show only the data in April

In [ ]:
print(step_counts['2015-04'])

Check the data type

Convert an integer to a floating-point number

Create some invalid data

In [ ]:
step_counts[1:3] = np.nan
print(step_counts)

Replace NaN with zero

In [ ]:
# Hint: fillna()

**pandas DataFrame**

DataFrames can be created from **lists**, **dictionaries**, and pandas **Series**

In [ ]:
# step_data = [3620, 7891, 9761, 3907, 4338, 5373]

In [ ]:
## Cycling distance
cycling_data = [10.7, 0, None, 2.4, 15.3, 10.9, 0, None]

Create a list of tuples  
**Tuple**: Round brackets ( )

In [ ]:
joined_data = list(zip(step_data, cycling_data))
print(joined_data)

We've just created a list of tuples!

**pandas DataFrame**

In [ ]:
activity_df = pd.DataFrame(joined_data)
print(activity_df)

We can add column names to DataFrame and an index

In [ ]:
activity_df = pd.DataFrame(joined_data, index=pd.date_range('20150329', periods=6), columns=['Walking','Cycling'])
print(activity_df)

DataFrame rows can be indexed by row using the 'loc' and ' iloc ' methods

Select row of data by index name

In [ ]:
print(activity_df.loc['2015-04-01'])

Select row of data by integer position

In [ ]:
print(activity_df.iloc[-3])

**DataFrame columns can be indexed by name**

1. Dictionary approach

In [ ]:
print(activity_df['Walking'])

2. Object-oriented approach

In [ ]:
print(activity_df.Cycling)

DataFrame columns can also be indexed by integer

In [ ]:
# First column (Column 0)
print(activity_df.iloc[:, 0])

## Plotting graphs using Matplotlib & Seaborn

**Matplotlib** allows Python to plot graphs as pretty as MATLAB does

Exercise 1: Lines

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = np.linspace(-np.pi, np.pi, 50)
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.plot(x, y_sin, 'r*-', label='sin')
plt.plot(x, y_cos, 'bo-', label='cos')
plt.xlabel('x coordinates')
plt.ylabel('y coordinates')
plt.title('A Matplotlib example')
plt.legend(loc='best')
plt.grid(axis='both')
plt.show()

**Seaborn** is an alternative to Matplotlib

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

x = np.linspace(-np.pi, np.pi, 50)
y_sin = np.sin(x)
y_cos = np.cos(x)

# Create a DataFrame for Seaborn
import pandas as pd
df = pd.DataFrame({'x': x, 'sin': y_sin, 'cos': y_cos})

# Plot using Seaborn
sns.lineplot(x='x', y='sin', data=df, label='sin', marker='*', linestyle='-')
sns.lineplot(x='x', y='cos', data=df, label='cos', marker='o', linestyle='-')

plt.xlabel('x coordinates')
plt.ylabel('y coordinates')
plt.title('A Seaborn example')
plt.legend(loc='best')
plt.grid(axis='both')
plt.show()

Exercise 2: Scatter plot using **matplotlib**

In [ ]:
pts = np.random.randint(0, 20, (10, 2))

plt.scatter(pts[:, 0], pts[:, 1], color='b', marker='*')
plt.xlabel('x coord')
plt.ylabel('y coord')
plt.title('A Matplotlib scatter plot example')
plt.grid(axis='both')
plt.show()

Exercise 3: Histogram using **Matplotlib**

In [ ]:
values = np.random.randint(0, 20, 100)
bins_1 = np.arange(0, 21)

plt.hist(values, color='b', bins=bins_1)
plt.xlabel('Values')
plt.ylabel('Frequency of occurence')
plt.title('A Matplotlib histogram example')
plt.xticks(range(0, 20))
plt.grid(axis='y')
plt.show()

Exercise 4: Bar Chart using **Matplotlib**

In [ ]:
x = ['A', 'B', 'C', 'F']
y = [21, 42, 29, 8]

plt.bar(x, y, color=['b', 'g', 'g', 'r'])
plt.xlabel('Grade')
plt.ylabel('No. of students')
plt.title('Summary of results')
plt.show()

Exercise 5: Subplot using **Matplotlib**

In [ ]:
x = np.linspace(-np.pi, np.pi, 25)
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.subplot(2, 1, 1)
plt.plot(x, y_sin, 'r.-')
plt.title('Sine')

plt.subplot(2, 1, 2)
plt.plot(x, y_cos, 'b^-')
plt.title('Cosine')

plt.tight_layout()
plt.show()